<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="NaverMusicBDEntitiesAWS1" connectionString="metadata=res://*/BaseDatos.ModelDB.csdl|res://*/BaseDatos.ModelDB.ssdl|res://*/BaseDatos.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-navermusic.cy3n4yk3yvto.us-east-1.rds.amazonaws.com;initial catalog=NaverMusicBD;persist security info=True;user id=admin;password=NaverMusic;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>