/*Variables disponibles:
    --bg-oscuro 
    --bg-claro 
    --bg-extraclaro 
    --btn-hover
    --txt-color
*/
.wrapper-volver {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.backTxt {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0px 1em;
    cursor: pointer;
    color: var(--txt-color);
}

.backTxt:hover {
    font-size: 1.4em;
}

.wrapper-albumTittle{
    width: 90%;
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.albumCover {
    width: 30%;
    max-width: 250px;
}

.wrapper-albumInfo {
    display: flex;
    flex-direction: column;
    margin: auto 1em;
}

.lblTitulo {
    font-size: 2em;
    font-weight: bolder;
}

.lblArtistas {
    font-size: 1.8em;
    color: var(--txt-color);
}

.wrapper-votefav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 0.5em;
}

.nobtn {
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4em;
    border: none;
}

.btnVote {
    color: var(--rate);
}

.btnFav {
    color: var(--fav);
}

.gvHead {
    background-color: var(--bg-oscuro);
    color: white;
}

.gvbtn {
    width:100%;
    font-size: 1.2em;
}

.gv {
    width: 100%;
}

.btnPlay {
    outline: none;
    cursor: pointer;
    border: none;
    margin: 0px;
    background-color: var(--bg-oscuro);
    color: white;
}

.btnPlay:hover {
    background-color: var(--btn-hover);
}

tr:hover {
    background-color: var(--btn-hover);
}

.hidden {
    display:none;
}

@media only screen and (max-width: 600px) {
    .lblTitulo {
        font-size: 1.6em;
        font-weight: bold;
    }

    .lblArtistas {
        font-size: 1.4em;
    }
}
