/*Variables disponibles:
    --bg-oscuro 
    --bg-claro 
    --bg-extraclaro 
    --btn-hover
    --txt-color
*/

h1 {
    margin: 0px 0px;
}

.btn {
    outline: none;
    background: none;
    cursor:  pointer;
    border: none;
    font-size: 1.2em;
}

.btnverde {
    background-color: var(--bg-oscuro);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.3em;
    width: 6em;
}

    .btnverde:hover {
        background-color: var(--btn-hover);
    }

.wrapper-linea {
    display: flex;
    flex-direction: row;
}


.textboxbuscar {
    width: calc(100% - 6em);
    height: 3em;
    border-color: whitesmoke;
    font-size: 1.3em;
    padding-left: 1em;
    padding-right: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrappercanciones {
    background-color: whitesmoke;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
}

    .wrappercanciones::-webkit-scrollbar {
        width: 0.5rem;
    }

.wrappercancionesbody::-webkit-scrollbar-track {
    background-color: var(--bg-claro);
}

.wrappercanciones::-webkit-scrollbar-thumb {
    background-color: var(--bg-oscuro);
    border-radius: 1rem;
}

.wrappermusicitem {
    width: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-playmusic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgcovermusic, .imgplaymusic {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.imgplaymusic {
    display: none;
}

.wrapper-playmusic:hover .imgcovermusic {
    display: none;
}

.wrapper-playmusic:hover .imgplaymusic {
    display: unset;
}

.songname {
    width: 80%;
    text-align: center;
    font-weight: 600;
}

.artistname {
    width: 80%;
    text-align: center;
}

.wrapper-ratefav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.rate {
    color: darkred;
}

.fav {
    color: #b5b028;
    font-size: 1.2em;
    font-weight:bolder;
}

.rate:hover, .fav:hover {
    font-size: 1.3em;
}



@media only screen and (max-width: 600px) {
    .wrappermusicitem {
        min-width: 30%;
    }
}
