h1 {
    text-align: center;
}

.wrapper-botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-selected {
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    display: flex;
    color: var(--txt-color);
    background-color: var(--bg-oscuro);
    cursor: pointer;
}

.btn-menu {
    font-size: 1.3em;
    border-width: thin;
    border-color: white;
    display: flex;
    color: var(--txt-color);
    background-color: var(--bg-claro);
    cursor: pointer;
}

.wrapper-top3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.wrapper-top {
    margin: 2%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.wrapper-topimages {
    display: flex;
    flex-direction: row;
    color:  whitesmoke;
    border-radius: 3em 0% 0% 3em;
    width: 100%;
}

.top-one {
    width: 35%;
}
.top-two {
    width: 30%;
}
.top-three {
    width: 25%;
}


.top-one-bg {
    background-color: #E3BC57;
}
.top-two-bg {
    background-color: #7C7E7D;
}
.top-three-bg {
    background-color: #8D4D36;
}


.img-top {
    width: 25%;
}

.wrapper-topinfo {
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 5% 0px;
}

.lblName {
    font-weight: 900;
    font-size: 1.1em;
    max-width: 12em;
}

.cover-top {
    width: 25%;
}

.btn-rate {
    color: var(--rate);
    outline: none;
    background: none;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.ver-mas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.btn-vermas {
    outline: none;
    background-color: var(--bg-oscuro);
    color: var(--txt-color);
    cursor: pointer;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 1em;
}

.btn-vermas:hover {
    background-color: var(--btn-hover);
}
/*small*/
@media only screen and (max-width: 600px) {
    .wrapper-top3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-one {
        width: 100%;
    }

    .top-two {
        width: 95%;
    }

    .top-three {
        width: 90%;
    }
}

/*big*/
@media only screen and (min-width: 1700px) {
    .wrapper-top {
        font-size: 1.3em;
    }
}

