.info-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    width: 100%;
}

h2 {
    font-size: 2em;
}

.txb {
    margin: 15px 5%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
}

.error {
    border:outset;
    border-color: red;
}

.foot {
    border-radius: 0.7em;
    margin-top: 1em;
}

.CheckBox {
    align-content: center;
    align-self: center;
}

.lblInfo {
    color: red;
    font-size: 1.1em;
    text-align: center;
    margin-top: 1em;
}