/*Variables disponibles:
    --bg-oscuro 
    --bg-claro 
    --bg-extraclaro 
    --btn-hover
    --txt-color
*/

.btn {
    background-color: var(--bg-oscuro);
    color: white;
    font-size: 1.2em;
    border: none;
    padding: 0.3em;
    border-radius: 5px;
    margin-top: 1em;
}

    .btn:hover {
        background-color: var(--btn-hover);
        cursor: pointer;
    }

.wrapper-userimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgperfil {
    width: 30%;
    max-width: 300px;
}
.wrapper-cambiarimg {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

@media only screen and (max-width: 600px) {
    .wrapper-userimg {
        flex-direction: column;
    }

    .imgperfil {
        width: 100%;
        max-width: none;
    }
}